*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    width: 22%;
    border: 1px solid #cecece;
    height: 2rem;
    cursor: pointer;
}
.nav-btn.clicked {
    background-color: #62ab00; /* Color after click */
  }
table {
    display: none;
    margin: 20px 0;
}

.active-btn {
    display: table;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}
.nav-btn:active{
    background-color: #62ab00;
}
